# URL da API Backend Node.js/Express
# Configure com a URL onde seu backend está rodando
NEXT_PUBLIC_API_URL=http://localhost:8000

# URL da API Backend Python/FastAPI
# Configure com a URL onde seu backend Python está rodando
NEXT_PUBLIC_PYTHON_API_URL=http://localhost:8080
